<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <title>Cyber</title>
  </head>
  <body>

     
      <div  background-color="#155A1E !important" class="jumbotron text-center" style="margin-bottom:0" >
          <!-- style="margin-bottom:0" -->
         <h1>Cyber</h1>
    
         <h1 class="display-1"> VM Manager </h1>
         <h5> Create, delete and manage virtual machines, and install software to them</h5>
        <!-- 4 ways to make a button that link to another page -->

        </div>

        <nav class="navbar navbar-expand-sm bg-warning navbar-dark justify-content-center" style="height: 100px">
            <div class="text-white">
                <a href="/createvm">
                  <button type="button" class="btn btn-outline-primary btn-lg font-weight-bold" style="height: 80px ; font-size: 150%" >Create virtual machines</button>
                </a>
            </div>
            <div class="text-white">
                <a href="/listvmdata">
                <!-- <a href="/testvar"> -->
                  <button type="button" class="btn btn-outline-success btn-lg font-weight-bold" style="height: 80px ; font-size: 150%" >List yours virtual machines</button>
                </a>
            </div>
            <div class="text-white">
                <a href="/signup">
                  <button type="button" class="btn btn-outline-danger btn-lg font-weight-bold" style="height: 80px ; font-size: 150%" >Delete virtual machines</button>
                </a>
            </div>
            <div class="text-white">
                <a href="/signup">
                  <button type="button" class="btn btn-outline-dark btn-lg font-weight-bold" style="height: 80px ; font-size: 150%" >Manage virtual machines</button>
                </a>
            </div>
            <div class="text-white">
                <a href="/signup">
                  <button type="button" class="btn btn-outline-info btn-lg font-weight-bold" style="height: 80px ; font-size: 150%" >Install software and files</button>
                </a>
            </div>
          </nav>

          <div  background-color="#155A1E !important" class="jumbotron text-center" style="margin-bottom:0" >
              <!-- style="margin-bottom:0" -->
             <h1 class="display-4"> Summary of yours computers</h1>
            </div>
          <!-- style="padding-left: 10%" -->
       

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>