<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>VM-Giver</title>
  </head>
  <body>
    
    <div  background-color="#155A1E !important" class="jumbotron text-center" style="margin-bottom:0" >
      <!-- style="margin-bottom:0" -->
     <h1>VM-Giver</h1>

     <h1 class="display-1">Welcome to VM-Giver</h1>
     
    <!-- 4 ways to make a button that link to another page -->
      <a href="/login">
        <button type="button" class="btn btn-outline-info btn-lg font-weight-bold">Login</button>
      </a>
      <a style="padding-left: 10%" href="/signup">
        <button type="button" class="btn btn-outline-success btn-lg font-weight-bold">SignUp</button>
      </a>
    </div>

    <nav class="navbar navbar-expand-sm bg-warning navbar-dark justify-content-center">
      <div class="text-white">
        <h2 class="display-3 font-weight-bold">What is VM-Giver?</h2>
      </div>
    </nav>

   <input type="button" value="Login3" 
   onclick="window.location.href='/login'" />
   

      <form action="/aboutus">
        <button>About Us</button>
      </form>
 
      <script>

    
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- <script src="/assets/js/jquery-3.3.1.slim.min.js"></script> -->
    <!-- <script src="/assets/js/popper.min.js"></script> -->
    <!-- <script src="/assets/js/bootstrap.min.js"></script> -->

    <script src="/js/jquery.min.js"></script>
    <!-- <script src="/js/popper.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>