<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div  background-color="#155A1E !important" class="jumbotron text-center" style="margin-bottom:0" >
        <!-- style="margin-bottom:0" -->
       <h1>List of yours virtual machines</h1>
  
       <h1 class="display-1">See here all your virtual machines installed </h1>
       
      <!-- 4 ways to make a button that link to another page -->
       
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>