<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <!-- <body>
    <h1>Hello Users!</h1>

    <p> Signup ! </p>

    <form action="/todosignup" method="POST">
      First name:<br>
      <input type="text" name="firstname" placeholder="firstname">
      <br>
      Last name:<br>
      <input type="text" name="lastname" placeholder="lastname">
      <br>
      Sex:<br>
      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <br>
      Mail:<br>
      <input type="email" name="email" placeholder="email@domain.com">
      <br>
      User name:<br>
      <input type="text" name="username" placeholder="username">
      <br>
      Password<br>
      <input type="text" name="password" placeholder="password">
      <br>
      Repeat password<br>
      <input type="text" name="repeatpassword" placeholder="repeatpassword">
      <br><br>
      <input type="submit" value="Submit">
    </form>

    <script>

    
    </script> -->

    <body style="background-color: greenyellow">

  
      <div class="container py-5">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="text-center text-white mb-4"></h2>
                  <div class="row">
                      <div class="col-md-6 mx-auto">
      
                          <!-- form card login -->
                          <div class="card rounded-0">
                              <div class="card-header">
                                  <h3 class="mb-0 text-center">Sign Up</h3>
                              </div>
                              <div class="card-body">
                                  <form action="/todosignup" class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                      <div class="form-group">
                                          <label for="uname1">First name</label>
                                          <input type="text" name="firstname" placeholder="firstname" required>
                                       </div>
                                      <div class="form-group">
                                          <label>Last name</label>
                                          <input type="text" name="lastname" placeholder="lastname">  
                                      </div>
                                      <div class="form-group">
                                          <label> Date of birth </label>
                                          <input type="date" name="bday" required>
                                      </div>
                                      <div class="form-group">
                                        <label>Sex <br></label>
                                        <input type="radio" name="gender" value="male" checked> Male
                                        <input type="radio" name="gender" value="female"> Female
                                    </div>
                                    <div class="form-group">
                                      <label>Mail</label>
                                      <input type="email" name="email" placeholder="email@domain.com">   
                                  </div>
                                  <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" name="username" placeholder="username">
                                  </div>
                                  <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="password" required="" placeholder="Password" autocomplete="new-password">
                                    <div class="invalid-feedback">Enter your password !</div>
                                  </div>
                                  <div class="form-group">
                                    <label>Repeat Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="repeatpassword" required="" placeholder="Repeat password" autocomplete="new-password">
                                    <div class="invalid-feedback">Enter your password !</div>
                                  </div>
                                  <div class="form-group">
                                    <label>Description : Why do you use VM-Giver?</label>
                                    <textarea name="description" rows="4" cols="50" placeholder="Why are you using VM-Giver?" required></textarea>
                                  </div>
                                  <div class="form-group form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" required> I agree with the <a href="/termsandcontitionsSignin">terms and conditions</a>
                                    </label>
                                  </div>

                                      <button type="submit" class="btn btn-success btn-lg float-right" id="btnSubmit">Sign In</button>
                                  </form>
                              </div>
                              <!--/card-block-->
                          </div>
                          <!-- /form card login -->
      
                      </div>
      
      
                  </div>
                  <!--/row-->
      
              </div>
              <!--/col-->
          </div>
          <!--/row-->
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>